{% extends "base.html" %}

{% block title %}Ajouter une formation{% endblock %}

{% block content %}
<div class="card">
    <h2>Ajouter une nouvelle formation</h2>
    <p>Complétez le formulaire ci-dessous.</p>

    <form method="POST" action="/add">
        <label for="titre"><strong>Titre :</strong></label>
        <input class="field-control" type="text" id="titre" name="titre" required>

        <label for="description"><strong>Description :</strong></label>
        <textarea class="field-control" id="description" name="description" required></textarea>

        <label for="duree"><strong>Durée :</strong></label>
        <input class="field-control" type="text" id="duree" name="duree" required>

        <button class="btn" type="submit">Ajouter la formation</button>
    </form>
</div>
{% endblock %}